<% if Rails.env.production? %>
  Przepraszamy, ale wyszukiwarka nie działa na serwerze testowym
<% else %>

  <div class = "row">
    <div class = "search_results">
      <% if @search && @search.total > 0 && params[:search].length > 2 %>
        <h3>Wyniki wyszukiwania "<%= params[:search] %>" ( <%= @search.total %> ):</h3> <br/>
        <div class = "col-md-10 col-md-offset-1"> 
          <% @search.each_hit_with_result do |hit, topic| %>
            <%= render 'topics/topic', topic: topic %>
          <% end %>
        </div>
      <% elsif @search && params[:search].length <= 2 %>
        Wyszukiwana fraza jest zbyt krótka. Wprowadź minimum 3 znaki
      <% else %>
        Twoje wyszukiwanie nie przyniosło rezultatów. Spróbuj innej frazy.
      <% end %>
      <br/>
    </div>
  </div>

<% end %>
