/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

.html {
  font-size: 0.7em;
}

html a:hover {
  color: grey;
  background-color: inherit;
}

.divider {
  border-bottom: 1px solid;
}
.main_yield {
  background-color: white;
  z-index: 5;
  padding: 5px;
  border-radius: 20px;
}
.navbar-default {
  background: url('http://idevrecipes.files.wordpress.com/2010/12/navbar-iphone.png');
  background-size: contain;
  border: none;
  padding-top: 5px;
  box-shadow: 5px 5px 5px #696969;
}

.menu_button {
  font-size: 1.1em;
  padding-right: -20px;
  margin-bottom: -16px;
}
.nav {
  margin-left: 1%;
}


.navbar .nav a:focus, .navbar .nav a:hover {
  color: black;
  border-top: 1px solid;
  border-left: 1px solid;
  padding-bottom: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightgrey;
}
.submenus {
  position: absolute;
  margin-left: 2%;
  z-index: 10;
  width: 90%;
  margin-top: -25px;
}
.submenu {
  background-color: lightgrey;
  border: 1px solid;
  border-left: 2px solid;
  display: block;
  padding: 20px;
  border-radius: 10px;
  display: none;
}


.body {
  background: url('http://digit-brush.pl/galeria/albums/userpics/10054/len3.jpg'); 
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;

  }

.navbar-content {
  li {
    margin-left: 10px;
    margin-right: 10px;
    }
}

.navbar-content.topleft_link {
  float: left;
}

.navbar-content.topright_link {
  float: right;
}

.middle_bar {
  margin-top: 220px;
  margin-bottom: -200px;
  margin-left: 5%;
  margin-right: 5%;
}


.category_box {
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 0.5em;
  text-align: left;
  box-shadow: 5px 5px 5px #696969;
  padding: 5px;
  margin-left: -35%;
}

.category_image {
  margin: 5px 5px 5px 5px;
}

.category_options {
  float: right;
}

.topic_in_index {
  background-color: lightgrey;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 2px 2px 2px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.topics_name_in_index {
  border-bottom: 1px solid;
}

.topics_heading_in_index {
  font-size: 0.5em;
}
