/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require bootstrap-wysihtml5/b3
 *= require_self
 *= require_tree .
 */

.html {
  font-size: 0.7em;
}

html a:hover {
  color: grey;
  background-color: inherit;
}

.no-display {
  display: none;
}

.divider_image{
  margin-top: -38px;
}

.divider {
  border-bottom: 1px solid;
}
.main_yield {
  background-color: white;
  z-index: 5;
  padding: 5px;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 20px;
}
.main_yield img {
  float: left;
}

.header {
  margin-bottom: 100px;
}

.navbar-default {
  background: url('http://idevrecipes.files.wordpress.com/2010/12/navbar-iphone.png');
  background-size: contain;
  border: none;
  z-index: 10;
  padding-top: 5px;
  box-shadow: 5px 5px 5px ;
}

.navbar-fixed-top {
  z-index: 11;
}

.menu_button {
  font-size: 1.1em;
  margin-top: 15px;
  margin-bottom: -1px;
  text-align: center;
  z-index: 11;
}

.navbar .nav .active_button {
  padding: 5px;
  padding-bottom: 7px;
  background-color: #F7C265;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 2px 2px 2px;

}
.nav {
  margin-left: 1%;
}

.subcategories_choice {
  display: none;
  opacity: 0.9;
  position: absolute;
  z-index: 10;
  background-color: #F7C265;
  border: solid 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px 2px #696969;
}

.subcategories_choice_links {
  padding-top: 20px;
  padding-bottom: 20px;
}


.navbar .nav a:focus, .navbar .nav a, .navbar .nav a:hover {
  color: #996633;
  font-weight: bold;
  text-decoration: none;
  padding: 0px;
  background-color: inherit;
}


.body {
  background: url('http://digit-brush.pl/galeria/albums/userpics/10054/len3.jpg'); 
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;

  }

.navbar-content.topleft_link {
  float: left;
}

.topright_link {
  float: right;
}

.topright_link li {
  margin-left: 10px;
  margin-right: 10px;
}

.middle_bar {
  margin-top: 300px;
  margin-bottom: -290px;
  margin-left: 5%;
  margin-right: 5%;
}


.category_box {
  background: url( 'http://majesmas.info/homeplace/imagecall.php?fl=l526y5o4d4n2w2p4o4n4t294h4l4b4w5f4s5o4t5r5j554942474g4j424t5n4k454l474k4d5a4g464k5n5x5v2p5n243x2t2n2x2x203m2z284x244m3c5e5f4q2z29413n2g4v5k5' );
  background-size: contain;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: left;
  box-shadow: 2px 2px 2px;
  padding: 5px;
}

.sub {
  text-align: right;
  margin-left: 30%;
}

.category_box a {
  color: black;
}
.category_box a:visited {
  color: black;
}

.category_image {
  margin: 5px;
}

.category_options {
  float: right;
  font-size: 0.6em;
}


.topics_name_in_index {
  text-align: left;
  float: left;
}

.topics_post_count {
  text-align: right;
  font-size: 0.7em;
  font-color: grey;
}

.topics_heading_in_index {
  font-size: 0.5em;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-color-orange {
  color: orange;
}
