// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single_post {
  background-color: #EBEBEB;  
  margin: 7px;
  padding: 10px;
  font-size: 0.7em;
  box-shadow: 2px 2px 2px;
}

.single_post_1 {
  background-color: #F2F2F2;
  margin-left: 6%;
}

.single_post_0 {
  background-color: #EBEBEB;

}
