// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single_post {
  background-color: #EBEBEB;  
  margin: 5px;
  margin-right: 7%;
  padding: 10px;
  font-size: 0.7em;
  box-shadow: 2px 2px 2px;
}

.post_footnote {
  position: absolute;
  bottom: 0;
}

.single_post_form {
  background-color: #F7C265;
  font-size: 0.7em;
  margin-top: 10px;
  margin-left: 1%;
  margin-right: 7%;
  padding: 10px;
  box-shadow: 2px 2px 2px;
}

.single_post_form textarea {
  margin-top: 5px;
  width: 90%;
}

.single_post_0 {
  background-color: lightgrey;
}

.single_post_1 {
  background-color: #EBEBEB;

}

.single_post_user {
  text-align: right;
  border-right: 1px solid;
}

.single_post_gravatar {
  width: 100%;
}

.single_post_gravatar img {
  margin-left: 5%;
}

.post_content img{
  max-width: 150px;
  max-height: 150px;
}

.post_content {
  color: none;
  position: relative;
  min-height: 226px;
}

.submit_button {
  margin-top: -37px;
  text-align: right;
  padding-right: 10%;
  position: absolute;
  z-index: 25;
}

.topic_heading_in_index {
  border-top: 1px solid;
  font-size: 0.7em;
  font-weight: bold;
}
.topic_in_index {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 15px;
  font-size: 0.7em;
}

.topic_in_index .col-md-custom {
  width: 40px;
  float: right;
  text-align: right;
  margin-left: 10px;
}

.topic_in_index img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.topic_in_index .col-md-1 img {
  margin-left: -15px;
}

.topic_in_index a, .topic_in_index a:hover {
  color: #000000;
  font-weight: bold;
}

.topic_in_index_1 {
  background: url('http://i.ebayimg.com/00/s/ODAwWDgwMA==/z/Rl0AAOxy3NBSj89G/$_35.JPG?set_id=8800005007');
}
.topic_in_index_2 {
  background: url('http://www.homedepot.com/catalog/productImages/300/ea/ea6414f8-670f-4a6b-ab80-867d73f92271_300.jpg');
}
.topic_in_index_3 {
  background: url('http://www.homedepot.com/catalog/productImages/400/c9/c912c79c-1550-48cc-aedb-e2e53b0df56e_400.jpg');
}
