// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single_post {
  background-color: #EBEBEB;  
  margin: 5px;
  margin-right: 7%;
  padding: 10px;
  font-size: 0.7em;
  box-shadow: 2px 2px 2px;
  }

.single_post_form {
  background-color: #F7C265;
  font-size: 0.7em;
  margin-top: 10px;
  margin-left: 1%;
  margin-right: 7%;
  padding: 10px;
  box-shadow: 2px 2px 2px;
}

.single_post_form textarea {
  margin-top: 14px;
  width: 90%;
}

.single_post_0 {
  background-color: lightgrey;
}

.single_post_1 {
  background-color: #EBEBEB;

}

.single_post_user {
  text-align: right;
  border-right: 1px solid;
}

.single_post_gravatar {
  width: 100%;
}

.submit_button {
  margin-top: -37px;
  text-align: right;
  padding-right: 10%;
  position: absolute;
  z-index: 25;
}
