<nav class="navbar navbar-fixed-top navbar-default navbar-inverse" role="navigation">
<div class = "navbar-content">
  <ul class = "nav navbar-nav navbar-right">
    <li><%= link_to "zaloguj", '#' %></li>
    <li class = "divider"></li>
    <li><%= link_to "zarejestruj się", '#' %></li>
  </ul>
  <ul class = "nav navbar-nav">
    <li><%= link_to "sklep", '#' %></li>
  </ul>
  </div>
</nav>

