<nav class="navbar navbar-fixed-top navbar-default navbar-inverse" role="navigation">
  <div class = "navbar-content">
     <ul class = "nav navbar-nav">
    	<li><%= button_to 'zaloguj', '#', class: "btn btn-default navbar-btn"%></li>
	<li><%= button_to 'zarejestruj się', '#', class: "btn btn-default navbar-btn"%></li>
     </ul>
     </div>
  </div>
</nav>

